<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.appositedesigns.fileexplorer"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-sdk android:minSdkVersion="7" />
    <permission-group android:name="android.permission-group.STORAGE"></permission-group>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        
        <activity android:name=".FileExplorerMain"  android:configChanges="orientation"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".ShareAppRequestReceiver">
             <intent-filter>
                <action android:name="net.appositedesigns.fileexplorer.SHARE_APP" />
            </intent-filter>
        </receiver>
        
        <activity android:name=".SettingsActivity" android:label="@string/settings"></activity>

    </application>
</manifest>